extends layout

block vars
    - let title = '安行飞控'

block content
    // 幻灯片
    .banner.banner_s
        img(src='/public/images/banner_a.jpg', alt='')
    // 幻灯片
    .space_hx  
    .scd.clearfix
        .about
            img(src='/public/images/pic5.jpg', alt='', style='float:left; margin-right:20px;')
            b(style='font-size:16px; margin-bottom:20px;') 深圳市安行飞控科技有限公司
            br
            | 深圳市安行飞控科技有限公司是由飞行极客、航测专家、GIS等专业人士组建，核心成员来自中科院、美国等知名机构。致力于专业无人机替代传统人工测绘，并提供厘米级高精数据及地理空间大数据分析的高新技术企业；公司旗下的虎蝠无人机系国内首款RTK空中机器人，通过软硬件高新技术集成创新，实现了指挥中心实时航线规划及调度、APP平台航测任务分配等功能，广泛应用于地理信息测绘、交通、环保、矿山、救灾，乃至物流快递等行业领域。
            br
            | 公司下属嘉兴安行信息科技有限公司、安行科技（北京）运营中心、平湖市安行无人机研究院三个子公司，与辽宁工程技术大学合作成立无人机航测研究院 。
    .space_hx  
