extends layout

block vars
    - let title = '安行飞控'

block content
    // 幻灯片
    .banner.banner_s
        img(src='/public/images/banner_b.jpg', alt='')
    // 幻灯片
    .space_hx  
    .scd.scd_a.clearfix
        .scd_l
            .name 项目案例
            ul.s_nav
                li
                    a(href='')  - 某某案例
                li
                    a(href='')  - 某某案例
                li
                    a(href='')  - 某某案例
        .scd_r
            .case
                dl.clearfix
                    dt
                        a(href='')
                            img(src='/public/images/pic6.jpg', alt='')
                    dd
                        .title
                            a(href='') 北方某城市三维航摄影像制作项目
                        .des
                            | 现代城市规划建设日趋精细化，大城市人口密集、地物复杂，地面测绘、布设控制点纷繁复杂，RTK无人机在相关项目中大显身手。2015年安行科技受北方某大城市经济技术开发区...
                        .more
                            a(href='') 点击详细>>
                dl.clearfix
                    dt
                        a(href='')
                            img(src='/public/images/pic6.jpg', alt='')
                    dd
                        .title
                            a(href='') 北方某城市三维航摄影像制作项目
                        .des
                            | 现代城市规划建设日趋精细化，大城市人口密集、地物复杂，地面测绘、布设控制点纷繁复杂，RTK无人机在相关项目中大显身手。2015年安行科技受北方某大城市经济技术开发区...
                        .more
                            a(href='') 点击详细>>
                dl.clearfix
                    dt
                        a(href='')
                            img(src='/public/images/pic6.jpg', alt='')
                    dd
                        .title
                            a(href='') 北方某城市三维航摄影像制作项目
                        .des
                            | 现代城市规划建设日趋精细化，大城市人口密集、地物复杂，地面测绘、布设控制点纷繁复杂，RTK无人机在相关项目中大显身手。2015年安行科技受北方某大城市经济技术开发区...
                        .more
                            a(href='') 点击详细>>
                dl.clearfix
                    dt
                        a(href='')
                            img(src='/public/images/pic6.jpg', alt='')
                    dd
                        .title
                            a(href='') 北方某城市三维航摄影像制作项目
                        .des
                            | 现代城市规划建设日趋精细化，大城市人口密集、地物复杂，地面测绘、布设控制点纷繁复杂，RTK无人机在相关项目中大显身手。2015年安行科技受北方某大城市经济技术开发区...
                        .more
                            a(href='') 点击详细>>
                dl.clearfix
                    dt
                        a(href='')
                            img(src='/public/images/pic6.jpg', alt='')
                    dd
                        .title
                            a(href='') 北方某城市三维航摄影像制作项目
                        .des
                            | 现代城市规划建设日趋精细化，大城市人口密集、地物复杂，地面测绘、布设控制点纷繁复杂，RTK无人机在相关项目中大显身手。2015年安行科技受北方某大城市经济技术开发区...
                        .more
                            a(href='') 点击详细>>
                .space_hx  
                .pages
                    a(href='') 首页
                    a(href='') 上一页
                    a.now(href='') 1
                    a(href='') 2
                    a(href='') 3
                    a(href='') 4
                    a(href='') 5
                    a(href='') 6
                    a(href='') 7
                    a(href='') 8
                    a(href='') 9
                    a(href='') 10
                    a(href='') …
                    a(href='') 下一页
                    a(href='') 尾页
    .space_hx  