extends layout

block vars
    - let title = '安行飞控'

block content
    // 幻灯片
    .banner.banner_s
        img(src='/public/images/banner_a.jpg', alt='')
    // 幻灯片
    .space_hx  
    .scd.scd_a.clearfix
        dl.contact.clearfix
            dt
                img(src='/public/images/pic8.jpg', alt='')
            dd
                .c_logo
                    img(src='/public/images/logo.jpg', alt='')
                h6 Shenzhen angyo Flight Control Technology Co. Ltd.
                .c_m
                    p
                        img(src='/public/images/icon10.jpg', alt='')
                        span 电话：0755-86008512
                    p
                        img(src='/public/images/icon11.jpg', alt='')
                        span 座机：400－8866793
                    p
                        img(src='/public/images/icon12.jpg', alt='')
                        span 邮箱：361464347@qq.com
                    p
                        img(src='/public/images/icon13.jpg', alt='')
                        span 地址：深圳市南山区西丽街道茶光路1063号C座301-302室
    .space_hx  
