extends layout

block vars
    - let title = '安行飞控'

block content
    // 幻灯片
    .banner.banner_s
        img(src='/public/images/banner_c.jpg', alt='')
    // 幻灯片
    .space_hx  
    .scd.clearfix
        .join
            img(src='/public/images/pic9.jpg', width='565', height='275', alt='')
    .space_hx  
