extends layout

block vars
    - let title = '安行飞控'

block content

    .banner.banner_s
        img(src='/public/images/banner_b.jpg', alt='')

    .space_hx  
    .scd.scd_a.clearfix
        .pro
            dl.clearfix
                dt
                    a(href='')
                        img(src='/public/images/pic7.jpg', alt='')
                dd
                    .name
                        a(href='') 无人机型号：虎蝠
                    .des 替代传统的地面控制点技术，安行无人机通过整合RTK定位技术和精密测时技术来确定每一张航拍相片的精确位置。
                    .more
                        a(href='') 查看详情
                    .time
                        span 2015/12/10
            dl.clearfix
                dt
                    a(href='')
                        img(src='/public/images/pic7.jpg', alt='')
                dd
                    .name
                        a(href='') 无人机型号：虎蝠
                    .des 替代传统的地面控制点技术，安行无人机通过整合RTK定位技术和精密测时技术来确定每一张航拍相片的精确位置。
                    .more
                        a(href='') 查看详情
                    .time
                        span 2015/12/10
    .space_hx  
