.bg_a
    ul.f_nav.clearfix
        li
            .name
                b 技术支持
            p
                a(href='') 常见问题
            p
                a(href='') 售后&维修
            p
                a(href='') 下载
        li
            .name
                b 关于安行飞控
            p
                a(href='') 了解安行飞控
            p
                a(href='') 加入我们
            p
                a(href='') 联系我们
        li.f_ct
            .name
                b
                    | 联系方式
                    i  
            p
                a(href='mailto:361467347@qq.com')
                    img(src='/public/images/icon6.png', alt='')
                    span 邮箱:361467347@qq.com
            p
                a(href='tel:86008512')
                    img(src='/public/images/icon5.png', alt='')
                    span 电话:0755-86008512
            p.share
                a(href='')
                    img(src='/public/images/f1.png', alt='')
                a(href='')
                    img(src='/public/images/f2.png', alt='')
                a(href='')
                    img(src='/public/images/f3.png', alt='')
                a(href='')
                    img(src='/public/images/f4.png', alt='')
        li.dz
            .name
                b 我们的地址
            p
                | 深圳市安行飞控科技有限公司
                br
                | Shenzhen angyo Flight Control Technology Co. Ltd.
            p 深圳市南山区西丽街道茶光路1063号C座301-302室
            p
                | TEL：0755-86008512
                a.map(href='') 网站地图
            .f_s
                input(name='', type='text')
                input(name='', type='submit', value='搜索')
.f_bg
    .bq.clearfix
        .bq_l
            a(href='') 法律申明
            |  
            a(href='') 隐私保护
            |  
            a(href='') 联系我们
        .bq_r ©版权所有INFINOVA 粤ICP备2123456789号 
